{# empty Twig template #}
<header class="">
        <div class="dark-overlay">
            <div class="container">
                <div class="nav-container">
                        <img src="{{style_dir}}/img/logo.png" width="152">
                        <span class="ham-menu"><i class="fas fa-bars"></i></span>
                        {% include "nav.twig" %}
                        

                </div>
                <div class="hero-message">
                               
                    <h1>{{page_title}}</h1>


                    <p>{{page_desc}}</p>

                    <div class="btn-container">
                            <a href="#" class="btn-white">Download</a>
                            <a href="#" class="btn-trans">Read More</a>		
                    </div>

                </div>
            </div>
        </div>
</header>